.hud{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hud-attack-button{
    position: absolute;
    top: 200px;
    right: 200px;
    width: 100px;
    height: 40px;
}
.hud-score{
    position: absolute;
    font-size: 25px;
    color: white;
    top: 20px;
    left: 20px;
}